<div id="container" >
  <br />
    <div id="options">
      <div id="options1" class="text-center">
        <button class="btn btn-light" [routerLink]="['/users-list']">Pokaż wszystkich użytkowników</button>
        <br /><br />
        <button class="btn btn-light" [routerLink]="['/send-message']">Wyślij wiadomość</button>
        <br /><br />
        <button class="btn btn-light" [routerLink]="['/write-article']" >Napisz artykuł</button>
        <br /><br /><br />
      </div>

      <div id="options2" class="text-center">
        <button class="btn btn-light" [routerLink]="['/my-messages']">Moje wiadomości</button>
        <br /><br />
        <button class="btn btn-light" [routerLink]="['/create-structure']" >Edytuj struktury</button>
        <br /><br />
      </div>
    </div>
    <br /><br /><br />
</div>
