
<div id="container" class="text-center">
  <div id="createArticle">
    <h1 class="text-center">Tworzenie Nowego Artykułu</h1>

      <div style="display:inline-grid;" id="f">
        <label for="title">Tytuł:</label>
        <input type="text" id="title" name="title" class="form-control" [(ngModel)]='title' >
      </div>
      <div class="editor">
        <app-ngx-editor [config]="editorConfig" [spellcheck]="true" [(ngModel)]="htmlContent" name="textEditr" class="e"></app-ngx-editor>
      </div>
    <div class="text-center">
      <button class="btn btn-success publishButton" (click)='sendArticle()' [disabled]="title.length < 1 || htmlContent.length < 1">Opublikuj artykuł</button>

    </div>

  </div>
  <br />
</div>
