<div id="container" >
  <br />
  <div id="options1">
    <button class="btn btn-light" [routerLink]="['/send-message']">Wyślij wiadomość</button>
    <br /><br />
    <button class="btn btn-light" [routerLink]="['/write-article']">Napisz artykuł</button>
    <br /><br />
    <button class="btn btn-light" [routerLink]="['/surveys-results']" >Wyniki głosowań i sondaży</button>
    <br /><br />
  </div>

  <div id="options2">
      <button class="btn btn-light" [routerLink]="['/my-messages']">Moje wiadomości</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/my-tasks']">Moje zadania</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/surveys-list']" >Zagłosuj</button>
      <br /><br />
    </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
