
#survey5 {
  background-color: white;
  background-attachment: fixed;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 80%;
  margin-left: 10%;
}

p {
  max-width: 700px;
  word-wrap: break-word;
}

#options {
  width: 100%;
  padding-top: 20px;
}

.op1 {
  width: 90%;
  padding: 10px;
}

.op2 {
  width: 90%;
  padding: 10px;
}

.op3 {
  width: 90%;
  padding: 10px;
}

.op4 {
  width: 90%;
  padding: 10px;
}

.op5 {
  width: 90%;
  padding: 10px;
}

#author {
  margin-top: 20px;
}
