
#survey4 {
  background-color: white;
  background-attachment: fixed;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 80%;
  margin-left: 10%;
}

p {
  max-width: 700px;
  word-wrap: break-word;
}

.chart {
  margin-left: 10%;
}

#options {
  width: 100%;
  padding-top: 20px;
}

#option1 {
  width: 50%;
  float: left;
}
#option2 {
  width: 50%;
  float: left;
}

#option3 {
  width: 50%;
  float: left;
}
#option4 {
  width: 50%;
  float: left;
}

.op1 {
  width: 90%;
  padding: 10px;
}

.op2 {
  width: 90%;
  padding: 10px;
}

.op3 {
  width: 90%;
  padding: 10px;
}

.op4 {
  width: 90%;
  padding: 10px;
}

#row2 {
  margin-top: 5%;
}

#row1 {
  margin-bottom: 5%;
}

#author {
  margin-top: 50px;
}

#buttons {
  width: 100%;
}

#buttonRemove {
  width: 50%;
  float: left;
  padding-left: 15%;
}

#buttonGenerate {
  width: 50%;
  float: left;
  padding-left: 15%;
}

.buttonR {
  width: 60%;
}

.buttonG {
  width: 60%;
}
