
#container {
  width: 80%;
  background-image: linear-gradient(  darkgrey, rgba(43, 72, 161, 0.856));
  border-radius: 10px;
  padding-top: 15px;
  background-attachment: fixed;
  margin-left:  10%;
  padding-top: 20px;
  opacity: 0.95;
  height: 1000px;
}

#calendar {
  width: 40%;
  margin-top: 40px;
  margin-left: 30%;
}


h1,h3, h4 {
  color: black;
  opacity: 1;
}

.searchRecord {
  width: 80%;
  margin-left: 10%;
}

.buttonPublish {
  width: 20%;
  height: 50px;
  margin-left: 40%;
  margin-top: 10px;
}

mat-form-field {
  background: white;
  color: black;
  border-radius: 10px;
  height: 50px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 70%;
  margin-left: 10%;
}

#constituency {
  height: 50px;
  width: 70%;
  margin-left: 10%;
}

#columns {
  width: 80%;
  margin-left: 10%;
}

#col1 {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-right: 15%;
}

#col2 {
  float: left;
  width: 40%;
}

.form-control {
  height: 50px;
  margin-bottom: 20px;
}
