.user-container {
  background-color: white;
  background-attachment: fixed;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 80%;
  height: 150px;
  margin-left: 10%;
  margin-bottom: 10px;
}

#col-1 {
  float: left;
  width: 30%;
  margin-right: 20px;
}

#col-2 {
  float: left;
  width: 35%;
  margin-right: 20px;
}

#col-3 {
  float: left;
  width: 25%;
  margin-right: 20px;
}

.user-container-edit {
  background-color: white;
  background-attachment: fixed;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 80%;
  height: 600px;
  margin-left: 10%;
  margin-bottom: 10px;
}

.input-edit {
  width: 200px;
}

.editForm {
  margin-left: 10px;;
}

.buttonUpdate {
  background: limegreen;
  border: goldenrod;
  color: white;
  font-weight: bold;
  margin-left: 100%;
  margin-bottom: 30px;
}

.buttonUpdate:hover {
  background: mediumseagreen;
  border: goldenrod;
  color: white;
  font-weight: bold;
}

#editForm1 {
  width: 40%;
  margin-right: 10%;
  float: left;
}

#editForm2 {
  width: 40%;
  float: left;
}

h5 {
  margin-bottom: 10px;
}

#region {
  margin-top: 10px;
}

#constituency {
  margin-top: 10px;
}
