<b>
  <div *ngIf="user" class="user-container" [ngClass]="{'user-container-edit': edit}" [hidden]="userDetails" >

    <div id="col-1">
        Login: {{user.username}}
        <br />
        Email: {{user.email}}
        <br />
        Imię: {{user.name}}
        <br />
        Nazwisko: {{user.surname}}
        <br />
    </div>

    <div id="col-2">
        <div>
            <label>Aktywowany: </label> <span *ngIf='user.enabled'> Tak</span><span *ngIf='!user.enabled'> Nie</span>
          </div>
        <div>
          <label id="region">Region: </label> {{user.region}}
          <br />
          <label id="constituency">Okręg: </label> {{user.constituency}}
        </div>
    </div>

    <div id="col-3">
        <button class="btn btn-success" (click)='editUser()'>Edytuj użytkownika</button>
        <br /><br />

    </div>

    <div [hidden]="this.hiddenForm" class="editForm">
      <br /><br /><br /><br /><br /><br />

      <div id="editForm1">
        <form>
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control input-edit" id="login" [(ngModel)]="updateUser.username" name="login" placeholder="Login" value="{{user.username}}" minlength="4" maxlength="16">
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control input-edit" id="email" [(ngModel)]="updateUser.email" name="email" placeholder="Email" value="{{user.email}}">
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control input-edit" id="name" [(ngModel)]="updateUser.name" name="name" placeholder="Imię"  minlength="3" maxlength="20" value="{{user.name}}">
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
          <input matInput type="text" class="form-control input-edit" id="surname" [(ngModel)]="updateUser.surname" name="surname" placeholder="Nazwisko"  minlength="2" maxlength="30" value="{{user.surname}}">
          </mat-form-field>
          <br /><br /><br />
          <button type="button" class="btn btn-success buttonUpdate" (click)="updateUserMethod()">Aktualizuj</button>
          <br /><br />
        </form>
      </div>

      <div id="editForm2">
        <b><h5>Pełnione stanowiska:</h5></b>
        <mat-checkbox [(ngModel)]="updateUser.regionVicePresident">Wiceprezes Regionu</mat-checkbox><br />
        <mat-checkbox [(ngModel)]="updateUser.regionSecretary">Sekretarz Regionu</mat-checkbox><br />
        <mat-checkbox [(ngModel)]="updateUser.constituencyPresident">Prezes Okręgu</mat-checkbox><br />

        <br /><br />
        <mat-form-field>
          <mat-label>Region</mat-label>
            <mat-select [(ngModel)]="updateUser.region" name="newRegion">
              <mat-option *ngFor="let region of regions | async" [value]="region.name">
                {{region.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <br />
        <mat-form-field >
          <mat-label>Okręg</mat-label>
          <mat-select [(ngModel)]="updateUser.constituency" name="constituency" >
            <ng-container *ngFor="let constituency of allConstituencies | async">
              <mat-option *ngIf="constituency.parent === updateUser.region" [value]="constituency.name" >
                {{constituency.name}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <br /><br />
      </div>

    </div>

  </div>
  <br />
  </b>
