
<div *ngIf="article" id="article" [hidden]="this.hiddenDiv">
  <div id="div1">
    <div class="text-center">
      <h3>{{article.title}}</h3>
    </div>
    <div>
      <b><div [innerHTML]="article.content"></div></b>
    </div>
    <div class="text-right">
      <i *ngIf="article.author"><b>{{article.author.name}} {{article.author.surname}}</b></i>
    </div>
  </div>
  <div id="div2">
    <span class="br text-center">
      <button class="btn btn-danger" (click)="removeArticle()">Usuń artykuł</button>
    </span>
    <span class="ba text-center">
      <button class="btn btn-success" (click)="accept()">Akceptuj artykuł</button>
    </span>
  </div>
</div>
<br />
