
<div *ngIf="survey3" id="survey3" [hidden]="hidden">
  <div class="text-center ">
    <h5>{{survey3.question}}</h5>
  </div>

  <table id="options">
    <tr>
      <td id="option1" class="text-center">
          <button class="btn btn-success op1" (click)="chooseOption1()" >{{survey3.answer1}}</button>
      </td>

      <td id="option2" class="text-center">
        <button class="btn btn-success op2" (click)="chooseOption2()" >{{survey3.answer2}}</button>
      </td>

      <td id="option3" class="text-center">
        <button class="btn btn-success op3" (click)="chooseOption3()" >{{survey3.answer3}}</button>
      </td>
    </tr>
  </table>

  <br />
  <div class="text-center" id="author" >
    <i *ngIf="survey3.owner"><b>
      <span>Autor: {{survey3.owner.name}} {{survey3.owner.surname}}</span>
    </b></i>
    <br />
    <i><b>
      Utworzono: {{survey3.created}} <span *ngIf="survey3.enddate !== null">&nbsp; &nbsp; &nbsp;  &nbsp; Data zakończenia: {{survey3.enddate}}</span>
    </b></i>
  </div>
</div>
<br />
