<div id="container" style="display:inline-grid;">
  <h1 class="text-center">Kreator sondaży i głosowań <img src="../../assets/icons/create-survey.svg" height="40px" ></h1>
  <h3 class="text-center">Ile odpowiedzi ma zawierać pytanie?</h3>
  <b>
  <table class="text-center">
    <tr>
      <a routerLink="/survey2"><td>2</td></a>
      <a routerLink="/survey3"><td>3</td></a>
      <a routerLink="/survey4"><td>4</td></a>
    </tr>
    <tr>
      <a routerLink="/survey5"><td>5</td></a>
      <a routerLink="/survey6"><td>6</td></a>
      <a routerLink="/survey7"><td>7</td></a>
    </tr>
  </table>
  </b>
  <br /><br /><br /><br /><br /><br />
</div>
