
#container {
  width: 80%;
  background-image: linear-gradient(  darkgrey, rgba(43, 72, 161, 0.856));
  border-radius: 10px;
  padding-top: 15px;
  background-attachment: fixed;
  padding-top: 20px;
  margin-left: 10%;
  min-height: 65%;
}

h1 {
  color: black;
}


