<div id="container" >
  <div id="options">
    <br />
    <div id="options1" class="text-center">
      <button class="btn btn-light" [routerLink]="['/edit-for-secretary']">Edytuj użytkowników</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/send-message']">Wyślij wiadomość</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/write-article']" >Napisz artykuł</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/unaccepted-articles']" >Artykuły do publikacji</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/create-survey']" >Utwórz głosowanie/sondaż</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/my-messages']">Moje wiadomości</button>
      <br /><br />
    </div>

    <div id="options2" class="text-center">
      <button class="btn btn-light" [routerLink]="['/create-task']" >Stwórz zadanie</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/join-message-list']" >Prośby o członkostwo</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/my-sent-tasks']" >Moje rozdysponowane zadania</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/surveys-list']" >Zagłosuj</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/surveys-results']" >Wyniki głosowań i sondaży</button>
      <br /><br />
      <button class="btn btn-light" [routerLink]="['/my-tasks']">Moje zadania</button>
      <br /><br />
    </div>
  </div>
  <br /><br /><br /><br /><br /><br />
</div>
